<div id="wrapper">
    <header></header>

    <div id="page-wrapper">
            <div class="row">
                    <h1 class="page-header">יחסים</h1>
            </div>

            <div class="row">
                <div class="col-lg-12">
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                       יחסים
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                  <span id="test"></span>
                                        <span modal-wordrelation on-confirm="addWordRelation(newWordRelation)" ng-model="newWordRelation" >
                                                <button class="btn btn-info" type="button">
                                                       הוספת יחס
                                                </button>
                                        </span>
                                        <br>
                                        <div class="table-responsive" style="margin-top:15px">
                                                <table class="table table-striped table-bordered table-hover midrows">
                                                        <thead>
                                                                <tr>
                                                                        <th>#</th>
                                                                        <th>שם הקבוצה</th>
                                                                        <th>מילים בקבוצה</th>
                                                                        
                                                                        <th></th>
                                                                </tr>
                                                        </thead>
                                                        <tbody ng-model="wordRelations">
                                                                <tr ng-repeat="wordRelation in wordRelations">
                                                                        <td>{{$index+1}}</td>
                                                                        <td>{{wordRelation.name}}</td>
                                                                        <td><span ng-repeat="word in wordRelation.words">{{word.word+' '}}</span></td>
                                                                       
                                                                        <td>
                                                                            <span modal-wordgroup on-confirm="editWordRelation(wordRelation)" ng-model="wordRelation" >
                                                                               <button class="btn btn-info" type="button">
                                                                                       <i class="fa fa-edit"></i>
                                                                               </button>
                                                                           </span>

                                                                           <span modal-confirm on-confirm="removeWordRelation(wordRelation)" text="האם אתה בטוח שברצונך למחוק" >
                                                                               <button class="btn btn-danger" type="button">
                                                                                       <i class="fa fa-trash-o"></i>
                                                                               </button>
                                                                           </span>
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                                        <!-- /.table-responsive -->

                                </div>
                                <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
        </div>

    </div>

</div>
