.modal-directive .modal{
	display:block;
	font-size: 14px;
}

.modal-directive.modal-select-image .gallery-img img{
	margin-bottom: 10px;
	cursor: pointer;
}
.modal-directive.modal-select-image .gallery-img img.select{
	background-color:blue;
}

.modal-directive .modal-load{
	position:absolute;top:0; right:0;
	width:100%; height:100%;
	background-color: rgba(0,0,0,0.5);
	z-index:10;
	cursor: progress;
}