<span class="modal-directive modal-confrim">
    <div class="modal fade in" tabindex="-1" ng-if="modalShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closemodal" ng-click="close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Group</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" ng-if="hasError">
                        Please fill all required fields
                    </div>     
                    <div class="form-group">
                        <p class="help-block">Group name:</p>
                        <input type='text' class="form-control" ng-model="$parent.ngModel.name" placeholder="Group name">
                    </div>
                    <div class="panel panel-default" ng-init="$parent.ngModel.words=($parent.ngModel.words)?$parent.ngModel.words:[]">
                        <div class="panel-heading">
                            Group words
                        </div> 
                        <div class="panel-body">
                            <span type="button" class="btn btn-default" ng-repeat="word in $parent.ngModel.words">{{word.word}}
                                <button type="button" class="btn btn-danger btn-circle" ng-click="$parent.ngModel.words.splice($index,1)"><i class="fa fa-times"></i> </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="help-block">Add word</p>
                        <input type='text' class="form-control" ng-model="params.search" placeholder="חפש">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="list-group">
                                    <p class="help-block" ng-if="words.rows.length===0">No search results</p>
                                    <a role='button' class="list-group-item" ng-repeat="worddata in words.rows" ng-click="($parent.ngModel.words.indexOf(worddata.word)==-1)?$parent.ngModel.words.push({word:worddata.word}):''"> 
                                      <i class="fa fa-text-width fa-fw"></i> 
                                        {{worddata.word}}
                                    </a>
                                 </div>
                            </div>  
                        </div>   
                    </div>
                 			

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary closemodal" ng-click="confirm()">Confirm</button>
                </div>
            </div>
            <div class="modal-load" ng-if="modalLoad"></div>
        </div>
    </div>
    <div class="modal-backdrop fade in" ng-if="modalShow"></div>
    <span ng-transclude ng-click="open()"></span>
</span>