<div id="wrapper">
    <header></header>

    <div id="page-wrapper">

        <div class="row">
            <h1 class="page-header">Statistics</h1>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <h2>Filter Options</h2>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Articles</label>  
                                    <span class="btn btn-info btn-file" ng-click="params.chosenArticles = [];">
                                        clear
                                    </span>
                                    <select class="form-control" multiple ng-model="params.chosenArticles"
                                            ng-options="option.title for option in articles track by option.id"
                                            >
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Groups</label> 
                                    <span class="btn btn-info btn-file" ng-click="params.chosenGroups = [];">
                                        clear
                                    </span>
                                    <select class="form-control" multiple ng-model="params.chosenGroups"
                                            ng-options="option.name for option in groups track by option.id"
                                            >
                                    </select>
                                </div>
                            </div>
                          
                        </div>
                        <div class="row">
                            
                            <ul class="nav nav-tabs" ng-init="activeTab = (activeTab) ? activeTab : 'word'"> 
                                <li ng-class="{'active':(activeTab == 'word')}"><a type="button"  href="" ng-click="activeTab = 'word'" data-toggle="tab">By word</a> </li>
                                <li ng-class="{'active':(activeTab == 'wordOccurance')}"><a type="button" href="" ng-click="activeTab = 'wordOccurance'" data-toggle="tab">Frequency</a> </li> 

                            </ul>
                            <div ng-show="activeTab == 'word'" class="tab-content"> 
                                <div class="tab-pane fade in active" id="home"> 
                                    <div class="table-responsive">

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Word</th>

                                                    <th ng-click="sort('name')" style="cursor:pointer">Number  <span class="fa fa-angle-down" ng-if="params.order.name == 'asc'"> </span><span class="fa fa-angle-up" ng-if="params.order.name == 'desc'"> </span></th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr   ng-repeat="data in wordStatistics" style="cursor: pointer;">
                                                    <td >{{data.word}}</td>

                                                    <td >{{data.word_count}}</td>
                                                   
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div><!-- /.table-responsive -->
                                </div>

                            </div>
                            <div ng-show="activeTab == 'wordOccurance'" class="tab-content"> 
                                <div class="tab-pane fade in active" id="profile"> 
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th ng-click="sort('name')" style="cursor:pointer">Frequency  <span class="fa fa-angle-down" ng-if="params.order.name == 'asc'"> </span><span class="fa fa-angle-up" ng-if="params.order.name == 'desc'"> </span></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr   ng-repeat="data in wordOccuranceStatistics" style="cursor: pointer;">
                                                <td >{{data.word_count}}</td>

                                                <td >{{data.numOfWords}}</td>
                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-show="activeTab == 'letterStatistics'" class="tab-content"> 
                                <div class="tab-pane fade in active" id="profile"> 
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>

                                                <th ng-click="sort('name')" style="cursor:pointer">Frequency  <span class="fa fa-angle-down" ng-if="params.order.name == 'asc'"> </span><span class="fa fa-angle-up" ng-if="params.order.name == 'desc'"> </span></th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr   ng-repeat="data in letterStatistics" style="cursor: pointer;">
                                                <td >{{data.letter_count}}</td>

                                                <td >{{data.letter}}</td>
                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.panel-body -->
            </div><!-- /.panel -->

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-6 -->
</div>

</div>

