<div id="wrapper">
    <header></header>

    <div id="page-wrapper">

        <div class="row">
            <h1 class="page-header">מאמר-{{articleData.title}} </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                           
                        <div class="row"> 
                            <div dir="ltr" class="col-lg-12" ng-bind-html="articleData.fileContent | textToHtml">
                                       
                            
                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div><!-- /.panel -->

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

</div>

